body {
    background-color: #16889c; 
    
   
}


#container {
    width:75%; 
    margin: 10px auto; 
    border: 3px solid #0c29ac;
    background-color: #8f6f6f; 
    padding: 100px; 
    box-shadow: 0 0 10px #3b3a3a; 
}

#header {
    text-align: center; 
    border-bottom: 2px solid #2d791a; 
    padding-bottom: 10px; 
    margin-bottom: 20px; 
}


.subtitle {
    color: #5c9ea4; 
}


#main {
    display: flex; 
}

#sidebar {
    width: 25%; 
    background-color: #77c9d4; 
    border-radius: 8px; 
    font-weight: bold;
}

#sidebar h2 {
    border-bottom: 2px solid white; 
    padding-bottom: 5px; 
    color: white; 
}
#sidebar ul {
    list-style-type: disc;
    margin-left: 20px;
}


#sidebar li a {
    color: #fff; 
    text-decoration: none; 
}


#sidebar li a:hover {
    text-decoration: underline;
}


#content {
    width: 70%; 
    margin-left: 5%; 
}
.post {
    border: 2px solid #b2e0df; 
    background-color: #f2fdfd; 
    padding: 15px; 
    margin-bottom: 15px; 
    border-radius: 8px; 
}


.post h3 {
    color: #2c7a7b; 
}


.date {
    color: #008cba; 
    font-weight: bold; 
}


.quote {
    font-style: italic; 
    color: #d66b5d; 
}

/* Post images */
.post-img {
    float: right; 
    margin-left: 15px;
    border: 2px solid #b2e0df; 
    border-radius: 8px; 
    width: 120px;
    height: auto; 
}
